<!DOCTYPE html>
<html>
  <head>
    <title>SixteenBites</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.devices = "<%= image_url('devices.webp') %>";
      window.portfiolio = "<%= image_url('portfiolio.webp') %>";
      window.quests = "<%= image_url('quests.webp') %>";
      window.licensing = "<%= image_url('licensing.webp') %>";
      window.cardOne = "<%= image_url('card-1.webp') %>";
      window.cardTwo = "<%= image_url('card-2.webp') %>";
      window.cardThree = "<%= image_url('card-3.webp') %>";
      window.cardFour = "<%= image_url('card-4.webp') %>";

       window.editorOne = "<%= image_url('editors-1.webp') %>";
      window.editorTwo = "<%= image_url('editors-2.webp') %>";
      window.editorThree = "<%= image_url('editors-3.webp') %>";
      window.editorFour = "<%= image_url('editors-4.webp') %>";
      window.editorFive = "<%= image_url('editors-5.webp') %>";
      window.editorSiz = "<%= image_url('editors-6.webp') %>";
      window.editorSeven = "<%= image_url('editors-7.webp') %>";
      window.editorEight = "<%= image_url('editors-8.webp') %>";
    </script>
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
